@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    width: 700px;
}

p {
   font-size: 16px;
   line-height: 24px;
}

h1 {
    color:blue
}

h2 {
}

blockquote {
    text-align: left;
    width: 800px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: darkblue;
}