@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    width: 750px;
    /* background-image: linear-gradient(pink, rgb(223, 90, 223)); */
}

h1 {
    font-size: 72px;
    color: black;
    margin-bottom: 10px;
}


p {
   font-size: 18px;
   line-height: 30px;
   color: #064F41;
}

/* p:hover {
    color:  rgb(213, 34, 118);
} */

.pull-quote {
    background-color: #F27ECA;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    width: 800px;
    color: white;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 20px;
    border-radius: 20px;
}

.pull-quote:hover {
    background-color: #064F41;
    color: white;
    cursor: crosshair;
}

.response-title {
    font-size: 72px;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
}

.response-title:hover {
    color: black;
}


.author {
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
}

.response-body:hover {
    color: #e14aac;
}

